@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.index-body {
  background: no-repeat;
  background-image: url(./imgs/background-header.jpg);
  background-size: cover;
  background-color: white;
  width: 100%;
  height: 900px;
  background-position: top;
  font-family: "Inter", sans-serif;
}

.about-body {
  background: no-repeat;
  background-image: url(./imgs/background-header.jpg);
  background-size: cover;
  background-color: white;
  width: 100%;
  height: 900px;
  background-position: right top;
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #126e;
}

.header1 {
  width: 106%;
  background-color: white;
  margin: 1px;
}

.nav-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: -10px 1px 1px -10px;
  padding: 1px;
  position: fixed;
  background-color: white;
}

.menuitems {
  display: none;
}

.menuitems1 {
  z-index: 1;
  margin: 50px -10px 1px 10px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 106%;
  height: 500px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 60px;
}

.menuitem-1,
.menuitem-2,
.menuitem-3 {
  margin-top: 20px;
  color: #3a4a42;
  font-size: 32px;
  margin-left: 8%;
}

.headerelement1 {
  margin: 15px 1px 1px 20px;
}

.headerelement1-1 {
  display: none;
}

.menuline {
  margin: 1px;
  width: 100%;
  height: 5px;
  background-color: white;
}

.lines {
  position: absolute;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
  margin: 5px 30px 1px -10px;
  border-radius: 50px;
  transition: 0.5s;
}

.lines1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  background-color: #00855200;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
  margin: 5px 30px 1px -10px;
  border-radius: 50px;
  transition: 0.5s;
}

.line-1,
.line-2,
.line-3 {
  transition: 0.8s;
  background-color: #545454;
}

.line-1-1 {
  transform: rotate(-45deg) translate(-10px, 8px);
  background-color: #67798e;
  transition: 0.8s;
}

.line-1-2 {
  opacity: 0;
  transition: 0.5s;
}

.line-1-3 {
  transform: rotate(45deg) translate(-7px, -7px);
  background-color: #67798e;
  transition: 0.8s;
}

.navmenubottom {
  display: none;
}

.navmenubottom1 {
  z-index: 0;
  display: block;
  margin-top: -30px;
  height: 90px;
  width: 106%;
  background-color: #e5e5e5;
}

.headline,
.a-headline {
  margin: 100px 10px 1px 10px;
}

.ph1 {
  font-size: 24px;
  color: orangered;
}

.a-ph1 {
  font-size: 24px;
  color: orangered;
  text-align: center;
}

.p1,
.p2,
.pd1,
.pd2 {
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("./imgs/Text-Background.jpg");
  background-size: contain;
  font-size: 56px;
  margin-right: 25px;
}

.a-p1,
.a-p2,
.a-pd1,
.a-pd2 {
  font-size: 56px;
  margin-right: 25px;
  color: orangered;
  text-align: center;
}

.pheadline {
  border: 3px solid white;
  margin: -50px 15px 1px 1px;
  font-size: 13px;
  padding: 10px;
}

.a-pheadline {
  border: 1px solid rgb(196, 194, 194);
  margin: -50px 15px 1px 1px;
  font-size: 13px;
  padding: 10px;
  background-color: white;
}

.date {
  font-size: 24px;
  color: #4f4f4f;
  font-weight: bold;
}

.location {
  margin: 5px 15px 1px 1px;
  font-size: 13px;
}

.a-contact {
  margin: 25px 15px 25px 1px;
  font-size: 11px;
  text-align: center;
}

.events {
  background-image: url("./imgs/cards-background.jpg");
  background-size: cover;
  margin-top: 20px;
  width: 102vw;
  margin-left: -8px;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 20px;
  width: 102vw;
  margin-left: -8px;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.mainevents {
  color: white;
  text-align: center;
}

.infotittle {
  color: black;
  text-align: center;
}

.eventsline {
  color: orangered;
  text-align: center;
  margin-top: -30px;
}

.infodescpt{
  font-size: 12px;
  color: rgb(66, 66, 66);
  margin: 10px;
  text-align: center;
}

.eventcard {
  display: flex;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.247);
  align-items: center;
  padding: 25px 1px;
}

.infocard {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 1px solid rgb(204, 203, 203);
  align-items: center;
  padding: 25px 1px;
  width: 80%;
}

.eventimg {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.event-tittle {
  font-size: 15px;
  color: orangered;
  margin: 10px;
}

.eventdescpt {
  font-size: 12px;
  color: white;
  margin: 10px;
}

.eventsbutton {
  margin: 20px 1px;
  background-color: orangered;
  color: white;
  padding: 25px;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.speakers {
  margin-top: 20px;
  width: 102vw;
  margin-left: -8px;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakerstittle {
  color: black;
  text-align: center;
}

.eventsline {
  color: orangered;
  text-align: center;
  margin-top: -30px;
}

.speakercard {
  display: flex;
  margin: 10px;
  align-items: center;
}

.speakerimg {
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: gray;
  background-size: 10px;
  background-position: top left;
}

.speakerimg1 {
  position: absolute;
  margin: -29px 1px 1px 1px;
  z-index: 0;
  width: 60px;
  height: 60px;
  background-color: gray;
  background-size: 10px;
  background-position: top left;
}

.speaker-tittle {
  font-size: 15px;
  color: black;
  margin: 10px;
}

.speakerdescpt {
  font-size: 11px;
  color: black;
  margin: 10px;
}

.speakerdescpt1 {
  font-size: 13px;
  color: orangered;
  margin: 10px;
  font-style: italic;
}


.speakersbutton {
  margin: 20px 1px;
  background-color: white;
  color: gray;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
  font-size: 17px;
  font-weight: bold;
  width: 90%;
}

@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  .pd1,
  .pd2,
  .a-pd1,
  .a-pd2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .headerelement {
    display: none;
  }
}
