@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.index-body {
  background: no-repeat;
  background-image: url(./imgs/background-header.jpg);
  background-size: cover;
  background-color: #f7f7f7;
  width: 100%;
  height: 900px;
  background-position: top;
  font-family: 'Lato', sans-serif;
}

.about-body {
  background: no-repeat;
  background-image: url(./imgs/background-header.jpg);
  background-size: cover;
  background-color: #f7f7f7;
  width: 100%;
  height: 900px;
  background-position: right top;
  font-family: 'Lato', sans-serif;
  margin: 1px 1px 1px -5px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #126e;
}

.header1 {
  width: 106%;
  background-color: white;
  margin: 1px;
}

.nav-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: -10px 1px 1px -10px;
  padding: 1px;
  position: fixed;
  background-color: #000000c9;
}

.menuitems {
  display: none;
}

.menuitems1 {
  z-index: 1;
  margin: 50px -10px 1px 10px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7f7f7d8;
  width: 106%;
  height: 500px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 60px;
}

.menuitem-1,
.menuitem-2,
.menuitem-3,
.menuitem-4 {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 32px;
  margin-left: 15%;
}

.headerelement1 {
  margin: 15px 1px 1px 20px;
}

.headerelement1-1 {
  display: none;
}

.menuline {
  margin: 1px;
  width: 100%;
  height: 5px;
  background-color: white;
}

.lines {
  position: absolute;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
  margin: 5px 30px 1px -10px;
  border-radius: 50px;
  transition: 0.5s;
}

.lines1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  background-color: #00855200;
  cursor: pointer;
  padding: 10px 5px 10px 5px;
  margin: 5px 30px 1px -10px;
  border-radius: 50px;
  transition: 0.5s;
}

.line-1,
.line-2,
.line-3 {
  transition: 0.8s;
  background-color: #545454;
}

.line-1-1 {
  transform: rotate(-45deg) translate(-10px, 8px);
  background-color: orangered;
  transition: 0.8s;
}

.line-1-2 {
  opacity: 0;
  transition: 0.5s;
}

.line-1-3 {
  transform: rotate(45deg) translate(-7px, -7px);
  background-color: orangered;
  transition: 0.8s;
}

.navmenubottom {
  display: none;
}

.navmenubottom1 {
  z-index: 0;
  display: block;
  margin-top: -30px;
  height: 90px;
  width: 106%;
  background-color: #000000c9;
}

.headline,
.a-headline {
  margin: 100px 10px 1px 10px;
}

.ph1 {
  font-size: 24px;
  color: orangered;
}

.a-ph1 {
  font-size: 24px;
  color: orangered;
  text-align: center;
}

.p1,
.p2,
.pd1,
.pd2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("./imgs/Text-Background.jpg");
  background-size: contain;
  font-size: 56px;
  margin-right: 25px;
}

.a-p1,
.a-p2,
.a-pd1,
.a-pd2 {
  font-size: 56px;
  color: orangered;
  text-align: center;
}

.pheadline {
  border: 3px solid white;
  margin: 1px 15px 1px 1px;
  font-size: 13px;
  padding: 10px;
  text-align: justify;
}

.a-pheadline {
  border: 1px solid rgb(196, 194, 194);
  margin: 1px 1px 1px 10px;
  font-size: 13px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.date {
  font-size: 24px;
  color: #4f4f4f;
  font-weight: bold;
}

.location {
  margin: 5px 15px 1px 1px;
  font-size: 13px;
  text-align: justify;
}

.a-contact {
  margin: 25px 15px 25px 15px;
  font-size: 11px;
  text-align: center;
}

.events {
  background-image: url("./imgs/cards-background.jpg");
  background-size: cover;
  margin-top: 20px;
  width: 102vw;
  margin-left: -8px;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.623);
}

.info {
  margin: -25px 1px 1px 1px;
  width: 102vw;
  margin-left: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 3px 1px 30px 1px;
}

.mainevents {
  color: white;
  text-align: center;
}

.infotittle {
  color: black;
  text-align: center;
}

.eventsline {
  color: orangered;
  text-align: center;
  margin-top: -30px;
}

.eventsline1 {
  color: orangered;
  text-align: center;
  margin-top: -30px;
}

.infodescpt {
  font-size: 12px;
  color: rgb(66, 66, 66);
  margin: 10px 10px 10px 20px;
  text-align: center;
}

.eventcard {
  display: flex;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.247);
  align-items: center;
  padding: 25px 1px;
}

.infocard {
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 1px solid rgb(204, 203, 203);
  align-items: center;
  padding: 25px 1px;
  width: 80%;
}

.eventimg {
  width: 80px;
  height: 80px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  margin-left: 5px;
}

.event-tittle {
  font-size: 15px;
  color: orangered;
  margin: 10px;
  font-weight: bolder;
}

.eventdescpt {
  font-size: 12px;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.eventsbutton {
  margin: 20px 1px;
  background-color: orangered;
  color: white;
  padding: 25px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.speakers {
  margin-top: 20px;
  width: 102vw;
  margin-left: -8px;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakerstittle {
  color: black;
  text-align: center;
}

.speakercard {
  display: flex;
  margin: 10px;
  align-items: center;
}

.speakerimg {
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: gray;
  background-size: 10px;
  background-position: top left;
}

.speakerimg1 {
  position: absolute;
  margin: -29px 1px 1px 1px;
  z-index: 0;
  width: 60px;
  height: 60px;
  background-color: gray;
  background-size: 10px;
  background-position: top left;
}

.speaker-tittle {
  font-size: 15px;
  color: black;
  margin: 10px;
}

.speakerdescpt {
  font-size: 11px;
  color: black;
  margin: 10px;
}

.speakerdescpt1 {
  font-size: 13px;
  color: orangered;
  margin: 10px;
  font-style: italic;
}

.speakersbutton {
  margin: 20px 1px;
  background-color: white;
  color: gray;
  padding: 10px;
  border: 1px solid rgb(197, 197, 197);
  font-size: 17px;
  font-weight: bold;
  width: 90%;
  cursor: pointer;
}

.logoimg {
  width: 250px;
  height: 210px;
}

.pastinfo {
  margin-top: 20px;
  width: 102vw;
  padding-top: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border-top: 1px solid rgb(197, 197, 197);
}

.pastinfotittle {
  text-align: center;
  background-color: white;
}

.infobuttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastinfobutton {
  margin: 20px 1px;
  height: 200px;
  width: 300px;
  border: none;
  background-image: url("./imgs/E32019stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(255, 68, 0, 0.678);
  cursor: pointer;
}

.lastinfobutton1 {
  margin: 20px 1px;
  height: 200px;
  width: 300px;
  border: none;
  background-image: url("./imgs/Sony-E32020stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(255, 68, 0, 0.678);
  cursor: pointer;
}

.infobuttontext {
  color: white;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}

.infobuttontext1 {
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.partner,
.indexpartner {
  display: flex;
  flex-direction: column;
  background-color: #414246;
  justify-content: center;
  align-content: center;
  padding: 15px 1px;
}

.partnertittle {
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: lighter;
}

.partnerimgs {
  display: flex;
  flex-direction: row;
  background-color: #414246;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 1px;
}

.partnerimg {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.footerimg {
  width: 130px;
  height: 100px;
  margin: 5px;
}

.aboutfooter,
.indexfooter {
  display: flex;
  margin: 20px;
  align-items: center;
}

.footertext,
.a-footertext {
  color: rgb(61, 61, 61);
  margin-left: 10px;
  font-size: 11px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  .optionsheadercontainer {
    display: none;
  }

  .pd1,
  .pd2,
  .a-pd1,
  .a-pd2 {
    display: none;
  }

  .speakercard3,
  .speakercard4,
  .speakercard5,
  .speakercard6 {
    display: none;
  }

  .indexpartner {
    display: none;
  }
}

@media (min-width: 768px) {
  .header1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #126e;
  }

  .header-desktop {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    width: 105%;
    margin-left: -50px;
    background-color: white;
    padding: 20px;
    margin-top: -10px;
  }

  .headerimgcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerimg {
    height: 100px;
    width: 150px;
    grid-column-start: 1;
  }

  .headercontainer {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end
  }

  .headerelement {
    display: none;
  }

  .hbuttoncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerbutton {
    grid-column-start: 3;
    border: 2px solid orangered;
    background-color: transparent;
    text-align: center;
    color: orangered;
    height: 40px;
    width: 80px;
    cursor: pointer;
  }

  .headerbutton:hover {
    grid-column-start: 3;
    border: 2px solid orangered;
    text-align: center;
    color: white;
    font-weight: bolder;
    height: 40px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(255, 68, 0);
    transition: 0.4s;
  }

  .header-desktop1,
  .header-desktop2,
  .header-desktop3,
  .header-desktop4 {
    margin-left: 30px;
    color: rgb(46, 46, 46);
  }

  .header-desktop1:hover,
  .header-desktop2:hover,
  .header-desktop3:hover,
  .header-desktop4:hover {
    color: orangered;
    margin-left: 30px;
  }

  .optionsheadercontainer {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #414246;
    margin-left: -30px;
    margin-top: -10px;
  }

  .optionsheader {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon1,
  .icon2 {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .optiontext1,
  .optiontext2 {
    margin-left: 10px;
    color: white;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
  }

  .a-pd1,
  .pd1 {
    display: none;
  }

  .headline,
  .a-headline {
    margin: 50px 1px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
  }

  .ph1,
  .a-p1,
  .a-pd1,
  .a-pheadline,
  .a-contact,
  .p1,
  .pheadline,
  .date,
  .location {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .a-ph1 {
    display: none;
  }

  .a-pheadline {
    font-size: 17px;
  }

  .a-contact {
    font-size: 15px;
  }

  .pheadline {
    margin: 1px 100px 1px 1px;
  }

  .ph1 {
    margin: 1px;
  }

  .events {
    margin: 50px 1px;
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: 20% 60% 20%;
    width: 100%;
    margin-left: -15px;
  }

  .mainevents {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .eventsline {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .eventsline1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    color: orangered;
    text-align: center;
    margin-top: 40px;
  }

  .eventcard {
    display: flex;
    flex-direction: column;
    height: 280px;
    text-align: center;
  }

  .eventcard:hover {
    display: flex;
    flex-direction: column;
    height: 280px;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    transition: 0.5s;
  }

  .eventcard1 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .eventcard2 {
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .eventcard3 {
    grid-column-start: 4;
    grid-row-start: 2;
  }

  .eventcard4 {
    grid-column-start: 5;
    grid-row-start: 2;
  }

  .eventimg {
    height: 100px;
    width: 100px;
    padding: 5px;
  }

  .eventsbutton {
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    margin: 20px 1px;
    background-color: transparent;
    color: white;
    padding: 25px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  .speakers {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 10% 26.66% 26.66% 26.66% 10%;
    width: 100vw;
  }

  .speakerstittle {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
  }

  .speakercard {
    margin-top: 40px;
  }

  .speakercard1 {
    grid-row-start: 2;
  }

  .speakercard1,
  .speakercard3,
  .speakercard5 {
    grid-column-start: 2;
  }

  .speakercard2,
  .speakercard4,
  .speakercard6 {
    grid-column-start: 3;
  }

  .speakersbutton {
    display: none;
  }

  .indexfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 1px;
  }

  .partnerline {
    margin-top: -40px;
    color: orangered;
    text-align: center;
  }

  .infocard {
    width: 40%;
  }

  .infotittle {
    margin-top: 50px;
  }

  .infobuttoncontainer {
    display: flex;
    flex-direction: row;
  }

  .lastinfobutton,
  .lastinfobutton1 {
    margin: 20px 20px;
  }

  .aboutfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 1px;
    background-color: #181818;
    width: 105%;
    margin-left: -15px;
  }

  .partner {
    display: none;
  }

  .a-footertext {
    color: white;
    font-size: 13px;
    font-weight: bolder;
  }

  .infodescpt {
    font-size: 15px;
  }

  .pastinfotittle {
    margin-top: 50px;
  }

  .footertext {
    color: rgb(61, 61, 61);
    margin-left: 10px;
    font-size: 13px;
    font-weight: bolder;
  }
}
